@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';

.e-card .e-card-header {
  display: block;
  height: auto;
  min-height: auto;
}

.e-card.e-card-horizontal .e-card-stacked {
  display: block;
  padding-left: 1px;
}

.e-card.e-card-horizontal {
  margin-left: 10px;
  margin-top: 10px;
}

.ul2 {
  padding-top: 0%;
  padding-left: 10px;
  text-overflow: ellipsis;
  line-height: normal;
  margin-top: auto;

}

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Nunito", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cTPlZP {
  margin: 0 !important;
  width: auto !important;
}