@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';

.e-card .e-card-header {
  display: block;
  height: auto;
  min-height: auto;
}

.e-card.e-card-horizontal .e-card-stacked {
  display: block;
}

.ul2 {
  padding-top: 0%;
  padding-left: 10px;
  text-overflow: ellipsis;
  line-height: normal;
  margin-top: auto;

}